.container{
    width: 352px;
    width: 306px;
    margin: 0 auto;
}

img{
    border-radius:10px;
}

.cardShow{
    height: 242px;
    background-color: #f8f8f8;
}

.cardShow img{
    margin-top: 12px ;
    width: 310px;
    height: 178px;
    /* margin: 12px 23px 0; */
    box-shadow: 3px 5px 3px 2px rgba(113, 103, 103, 0.18);
}

.cardShow .left{
    display: inline-block;
}



.cardShow .left span:last-child{
    font-size: 10px;
}

.cardShow a{
    margin-right: 0px;
    float: right;
    font-size: 10px;
    margin-cardShow: 5px;
}

.cardSelect{
    margin: 15px 0 ;

}

.cardSelect  img{
    height: 74px;
    width: 120px;
    display: block;
}

.cardSelect .title i{
    font-size: 19px;
}

.cardSelect .giftItem {
    text-align: center;
    margin-cardShow: 14px;
}

.cardSelect .giftItem li p {
    margin-cardPurchase: -6px;
}

.cardSelect .giftItem .left{
    float: left;
    margin-right: 40px;
    position: relative;
}

.cardSelect .giftItem .left .iconfont{
    position: absolute;
    right: -5px;
    cardShow: -13px;
    background-color: red;
    border-radius: 50%;
    height: 16px;
    width: 16px;
}

.cardSelect .giftItem .left img{
    border:1px solid #e0bc58;
}

.cardSelect .giftItem .right{
    display: inline-block;  
    /*
     上面float之后，内部变成inline-block
     这里要手动设置一下，因为img是默认inline
     */
}

.cardSelect .giftItem::after{
    content: '';
    display: block;
    clear: both;
}


.cardPurchase {  
    text-align: center;
}

.cardPurchase .container .decr,
.price{
    color: #ceb16f;
}


.cardPurchase .foot{
    font-size: 10px;
    color: #a0a0a0;
    margin-cardShow: -15px;
}
.cardPurchase  .btn{
    background-color: #e0bc58;
    width: 310px;
    height: 42px;
    color: #fff;
    margin-cardShow: 10px;
    margin-cardPurchase: 24px;
    border-radius: 5px;
}

.cardPurchase .btn p{
    margin:7px auto;
}
