/* .top,
.middle,
.bottom{
    width: 352px;
} */

.container{
    width: 352px;
    width: 306px;
    margin: 0 auto;
}

img{
    border-radius:10px;
}

.top{
    height: 242px;
    background-color: #f8f8f8;
}

.top img{
    margin-top: 12px ;
    width: 310px;
    height: 178px;
    /* margin: 12px 23px 0; */
}

.top .left{
    display: inline-block;
}

.top a{
    margin-right: 0px;
    float: right;
}

.middle{
    margin: 15px 0 ;

}

.middle  img{
    height: 74px;
    width: 120px;
    display: block;
}

.middle .giftItem {
    text-align: center;
    margin-top: 14px;
}

.middle .giftItem li p {
    margin-bottom: -6px;
}

.middle .giftItem .left{
    float: left;
    margin-right: 40px;
}

.middle .giftItem .left img{
    border:1px solid #e0bc58;
}

.middle .giftItem .right{
    display: inline-block;  
    /*
     上面float之后，内部变成inline-block
     这里要手动设置一下，因为img是默认inline
     */
}

.middle .giftItem::after{
    content: '';
    display: block;
    clear: both;
}


.bottom {  
    text-align: center;
}

.bottom .container .decr,
.price{
    color: #e0bc58;
}

.bottom p{
    font-size: 10px;
    color: #a0a0a0;
}
.btn{
    background-color: #e0bc58;
    width: 310px;
    height: 34px;
    color: #fff;
    margin-top: 18px;
    margin-bottom: 24px;
}

