.container{
    background: #fff;
    max-width: 600px;
    margin: 0 auto;
}

.cardShow{
    padding:20px 20px 10px 20px;
    background: #f8f8f8;
}

.cardShow .img-container{
    box-shadow: 3px 5px 3px 2px rgba(113, 103, 103, 0.18);
    max-height: 400px;
    overflow: hidden;
    /* oveflow暂时没出现，但是先留着 */
    border-radius: 15px;
}

.img-container img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 15px;
}

.cardShow .priv{
    margin-top: 10px;
}

.cardShow .priv .left{    
    padding-left: 25px;
    position: relative;
    width: 50%;
    display: inline-block;
}

.cardShow .priv .left::before{
    content:'';
    background-image:url(./font/crown.png);
    background-repeat: no-repeat;
    background-size:16px 16px;
    position: absolute;
    width:16px;
    height:16px;
    top: 5px;
    left: 3px;
}

.cardShow .priv a{
    display: inline-block;
    text-align: right;
    width: 50%;
}


.cardSelect{
    padding-left: 20px;
    display:table;
    margin:0 auto;
}

.cardSelect .title{
    position: relative;
    padding: 0 0 0 23px;
    /* 给图标的地方 */
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 20px 0;
}

.cardSelect .title::before{
    content:'';
    background-image:url(./font/gift.png);
    background-repeat: no-repeat;
    background-size:20px 20px;
    position: absolute;
    width:20px;
    height:20px;
    top: 2px;
    left: 0px;
}

/* .cardSelect .giftItem li img{
    height: 74px;
    width: 122px;
} */

.cardSelect .giftItem{
    display: flex;
    text-align: center
}

.cardSelect .giftItem li{
    margin-right: 45px;
}

.cardSelect .giftItem .img-container{
    max-height: 200px;
    border-radius: 15px;
    overflow: hidden;
}

.cardSelect .giftItem li img{
    display: block;
    width: 100%;
    height:100%;
}

.cardSelect .giftItem .left{
    position: relative;
}

.cardSelect .giftItem .left::before{
    content:'';
    background-color: #dcb968;
    background-image:url(./font/right.png);
    background-repeat: no-repeat;
    background-size:16px 16px;
    position: absolute;
    width:16px;
    height:16px;
    top: -5px;
    right: -7px;
    z-index: 100;
    border-radius: 50% ;
}

.cardSelect .giftItem .left img{
    border:1px solid #e0bc58;
}

.cardSelect .giftItem li{
    float: left;
}



.cardSelect .giftItem::after{
    content:'';
    display:block;
    clear:both;
}

.cardSelect .price,
.cardPurchase .decr{
    color: #ceb16f;
}

.cardPurchase{
    text-align: center;
    margin-top: 20px;
}

.cardPurchase  .btn{
    background-color: #e0bc58;
    line-height: 42px;
    /*为什么用line-height代替 height  */
    color: #fff;
    margin: 0 20px;
    border-radius: 5px;
    /* width: 100%; */
}

.cardPurchase .btn p{
    margin:7px auto;
    display: block; 
}

.cardPurchase .foot{
    font-size: 10px;
    color: #a0a0a0;
    margin-top: 15px;
}

.cardPurchase .foot p{
    position: relative;
    color: #929292;
    display: inline-block;
}

.cardPurchase .foot p::before{
    content:'';
    background-image:url(./font/时间.png);
    background-repeat: no-repeat;
    background-size:16px 16px;
    position: absolute;
    width:16px;
    height:16px;
    top:3px;
    left: -20px;
}