.container{
    padding-top: 20px;
    text-align: center;
    /* 全部元素 水平居中 */
}

img{
    border-radius:10px;
}

.cardShow{
    padding-bottom: 10px;
    background-color: #f8f8f8;
}

.cardShow img{
    width: 308px;
    height: 178px;
    box-shadow: 3px 5px 3px 2px rgba(113, 103, 103, 0.18);
}

.cardShow .priv a{
    float: left;
    display: inline-block;
}

.cardShow .priv {
 position: relative;
}

.cardShow .priv .left{
    margin-left: 65px;
}

.cardShow .priv .left::before{
    content:'';
    background-image:url(./font/crown.png);
    background-repeat: no-repeat;
    background-size:16px 16px;
    position: absolute;
    width:16px;
    height:16px;
    top: 5px;
    left: 40px;
}


.cardShow .priv a:last-child{
    margin-left: 86px;
}
/* 产生的浮动流，
让.priv没被carshow包进去 */
.cardShow .priv::after{
    content:'';
    display:block;
    clear:both;
}

.cardSelect{
    margin: 15px 0 ;
    padding: 36px 24px 0;
}

.cardSelect .title{
    position: relative;
}

.cardSelect .title span::before{
    content:'';
    background-image:url(./font/gift.png);
    background-repeat: no-repeat;
    background-size:16px 16px;
    position: absolute;
    width:16px;
    height:16px;
    top: 5px;
    left: -20px;
}

.cardSelect .title span{
    position: absolute;
    left: 30px;
    top: -30px;
}

.cardSelect .giftItem img{
    height: 74px;
    width: 122px;
}
.cardSelect .giftItem{
    margin-top: 10px;

}

.cardSelect .giftItem .left{
    margin-left: 10px;
    position: relative;
}

.cardSelect .giftItem .left::before{
    content:'';
    background-color: #dcb968;
    background-image:url(./font/right.png);
    background-repeat: no-repeat;
    background-size:16px 16px;
    position: absolute;
    width:16px;
    height:16px;
    top: -5px;
    right: -7px;
    z-index: 100;
    border-radius: 50% ;
}

.cardSelect .giftItem .left img{
    border:1px solid #e0bc58;
}

.cardSelect .giftItem li{
    float: left;
}

.cardSelect .giftItem li:first-child{
    margin-right: 48px;
}

.cardSelect .giftItem::after{
    content:'';
    display:block;
    clear:both;
}

.cardSelect .price,
.cardPurchase .decr{
    color: #ceb16f;
}

.cardPurchase  .btn{
    background-color: #e0bc58;
    width: 308px;
    height: 42px;
    color: #fff;
    margin-top: 10px;
    border-radius: 5px;
}

.cardPurchase .btn p{
    margin:7px auto;
}

.cardPurchase .foot{
    font-size: 10px;
    color: #a0a0a0;
    margin-top: 15px;
    position: relative;
}

.cardPurchase .foot span::before{
    content:'';
    background-image:url(./font/时间.png);
    background-repeat: no-repeat;
    background-size:16px 16px;
    position: absolute;
    width:16px;
    height:16px;
    top: 3px;
    left: 120px;
}