.aboutShop{
    padding-top: 12px;
}

.aboutShop .shopSum{
    border-bottom: 1px solid #9a9a9a;
}


.aboutShop .shopSum .shopInfo{
    font-size: 0;
}

.aboutShop .shopSum .shopInfo .left{
    width: 12%;
    font-size: 14px;
}
.aboutShop .shopSum .shopInfo .right{
    width: 88%;
    font-size: 14px;

}

.aboutShop .shopSum .shopInfo .left .img-container{
    max-width: 100%;
}

.aboutShop .shopSum .shopInfo .left .img-container img{
    width: 100%;
    border-radius: 5px;
}

.aboutShop .shopSum .shopInfo .left,
.aboutShop .shopSum .shopInfo .right,
.aboutShop .shopSum .shopInfo .right div
{
    display: inline-block;
}

/* 
.aboutShop .shopSum .shopInfo .left .shopName{
    margin:auto 0;
} */
/* 
.aboutShop .shopSum .shopInfo .right{
    display: flex;
} */

.aboutShop .shopSum .shopInfo .right .allGoods,
.aboutShop .shopSum .shopInfo .right .getIn{
    border: 1px solid #f90;
    /* display: inline-block; */
    border-radius: 999rem;
    padding: 0 10px;
    width: 50%;
    text-align: center;
}

.aboutShop .shopSum .shopInfo .right .allGoods{
    color:#de7039;
}

.aboutShop .shopSum .shopInfo .right .getIn{
    color:#fff;
    background-color: #fe7701;

}

/* 垂直居中
.aboutShop .shopSum .shopInfo .right::after,
.allGoods,
.getIn{
    display:inline-block;
    vertical-align:middle;
}
.aboutShop .shopSum .shopInfo .right::after{
    content:'';
    height:100%;
} */

.aboutShop .shopSum .shopMark{
    margin: 12px 0;
}


.aboutShop .shopSum .shopMark ul{
    display: flex;
}

.aboutShop .shopSum .shopMark ul li{
    width: 32%;
    margin-right: 9px;
}

.aboutShop .shopSum .shopMark ul li span{
    color: #9a9a9a;
    display: inline-block;
}

.aboutShop .shopSum .shopMark ul li .markNum{
    color: #ec5613;
}

.aboutShop .shopSum .shopMark ul li .markLevel{
    color: #ec5613;
    background-color: #fff1eb;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding-left: 3px;
    line-height: 20px;
}


.aboutShop .shopRecommend {
    padding-top: 10px;
}

.aboutShop .shopRecommend .title{
    margin-bottom: 10px;
}

.aboutShop .shopRecommend .title a{
    width: 100%;
    display: inline-block;
}

.aboutShop .shopRecommend .title a span{
    width: 50%;
    display: inline-block;
    font-size: 16px;
    color: #333;
}

.aboutShop .shopRecommend .title a .seeMore{
    text-align: right;
    color: #ec5613;

}

.aboutShop .shopRecommend .otherGoods{
    font-size: 0;
}

/* .aboutShop .shopRecommend .otherGoods{
    display: flex;
    justify-content:space-between;
} */


.aboutShop .shopRecommend .otherGoods ul li{
    max-width: 31%;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}
.aboutShop .shopRecommend .otherGoods ul li:last-child{
    margin-right: 0;
}
/* .aboutShop .shopRecommend .otherGoods ul::after{
    content: '';
    display: block;
    clear: both;
} */

.aboutShop .shopRecommend .otherGoods ul li p{
    font-size: 14px;
}

.aboutShop .shopRecommend .otherGoods .img-container,
.aboutShop .shopRecommend .otherGoods .goodsName{
    max-width: 100%;
}

.aboutShop .shopRecommend .otherGoods .img-container img{
    width: 100%;
    border-radius: 5px;
}

.aboutShop .shopRecommend .otherGoods .goodsName{
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* https://www.zoo.team/article/text-overflow */
}

.aboutShop .shopRecommend .otherGoods .price{
    font-size: 10px;
    color: #ec5613;
    line-height: 35px;
}

.aboutShop .shopRecommend .otherGoods .price span{
    font-size: 16px;
    font-weight: 400;
}


