.productComment {
    margin: 15px 0;
    font-size: 0;
    padding: 15px;
}

.productComment span,
.productComment a {
    display: inline-block;
}

.productComment .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.productComment .title h3 {
    font-size: 16px;
    color: #333;
    font-weight: normal;
}

.productComment .seeMore {
    color: #ec5613;
    font-size: 16px;
}

.productComment .comment .commentList .commentItem {
    margin: 10px 0;
}

.productComment .comment .commentList .commentItem .user .img-container,
.productComment .comment .commentList .commentItem .user .userName {
    display: inline-block;
}

.productComment .comment .commentList .commentItem .user .img-container {
    width: 20px;
    margin-right: 5px;
    border-radius: 50%;
    overflow: hidden;
}

.productComment .comment .commentList .commentItem .user .img-container img {
    width: 100%;
}

.productComment .comment .commentList .commentItem .user .userName {
    color: #999;
    font-size: 16px;
}

.commentContent {
    font-size: 14px;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productComment .show .showList {
    display: flex;
    justify-content: space-between;
}

.productComment .show .showList li {
    margin-right: 3px;
}

.productComment .show .showList li:first-child .img-container {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
}

.productComment .show .showList li:last-child .img-container {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.productComment .show .showList li:last-child {
    margin-right: 0;
}

.productComment .show .showList .img-container img {
    width: 100%;
}

.productComment .question .quesList li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.productComment .question .quesList span {
    line-height: 20px;
}

.productComment .question .quesList .logo {
    background-color: #f87a44;
    color: #fff;
    padding: 0 2px;
    border-radius: 3px;
    margin-right: 5px;
    max-width: 23px;
    font-size: 16px;
    font-style: normal
}

.productComment .question .quesList .quesName {
    font-size: 16px;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
}

.productComment .question .quesList .answer {
    text-align: right;
    color: #b1b1b1;
    font-size: 16px;
    flex-shrink: 0;
}