.goodDetail .title{
    text-align: center;
    background-color: #eee;
    line-height: 40px;
    height: 40px
}

.goodDetail .detailImgs li,
.goodDetail .detailImgs .img-container{
    max-width: 600px;
    /* overflow: hidden; */
}

.goodDetail .detailImgs .img-container img{
    width: 100%;
}

.botbar {
    padding: 15px 15px 4px;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 600px;
    background-color: #fff;
    margin: 0 auto;
    height: 60px;
    border-top: 1px solid #f4f4f4;
}

.botbar .left{
    display: flex;
}

.botbar .left div:first-child{
    color: #ff6a00;
}
.botbar .icons{
    margin-right: 20px;
    /* padding-bottom: 10px; */
    line-height: 20px;
}

.botbar .icons i{
    font-size: 26px;
}

.botbar .icons .iconName{
    font-size: 14px;
}

.botbar .btns{
    flex-grow: 1;
    display: flex;
}

.botbar .btns div{
    padding: 5px;
    flex-grow: 1;
    text-align: center;
}

.botbar .btns .addCart{
    background-color: #ffb200;
    color: #fff;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    overflow: hidden;
}

.botbar .btns .buyNow{
    background-color: #ff6a00;
    color: #fff;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    overflow: hidden;
}

.tuijian .title{
    text-align: center;
    color: #ff6a00;
    height: 40px;
    line-height: 40px;
}

.tuijian .tjList{
    /* font-size: 0; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tuijian .tjList li{
    flex-basis: 49%;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
}

.tuijian .tjList li .img-container{
    overflow: hidden;
}

.tuijian .tjList li .img-container img{
    width: 100%;
}

.tuijian .tjList li .name,
.tuijian .tjList li .data{
    padding-left: 15px;
}

.tuijian .tjList li .price{
    font-size: 20px;
    color: #ff6a00;
}

.tuijian .tjList li .price,
.tuijian .tjList li .buyNum{
    display: inline-block;
}

.tuijian .tjList li .buyNum{
    color: #a0a0a0;
}



