.container{
    background-color: #f8f8f8;
    max-width: 600px;
    margin: 0 auto;
}



.productShow,
.productSend,
.productDetail,
.productComment,
.aboutShop{
    background-color: #fff;
    padding: 0 15px;
}

.productShow{
    padding-right: 0;
}


.productImg{
    position: relative;
}

.productImg .img-container{
    max-width: 600px;
    max-height: 500px;
    overflow: hidden;
}

.productImg .img-container ul{
    width: 3000px;
}

.productImg .img-container ul li{
    float: left;
    max-width: 600px;
    max-height: 500px;
}

.productImg .img-container::after{
    content: '';
    display: block;
    clear: both;
}

.productImg .img-container img{
    width: 100%;
    height: 100%;
    display: block;
}

.productImg .imgOrder{
    min-width: 54px;
    height: 30px;
    text-align: center ;
    border-radius: 15px;
    /* 当border-radius的值>>所需半径,就会胶囊圆角 */
    position: absolute;
    right: 12px;
    bottom: 12px;
    color: #fff;
    background-color:rgba(0,0,0, 0.4);
    padding-bottom: 7px;
    font-size: 16px;
    padding: 0 5px;
}

.productShow .productPrice{
    font-size: 10px;
    color: #ec5613;
    line-height: 35px;
    margin-top: 10px;
}

.productShow .productPrice h1 span{
    font-size: 30px;
    font-weight: 400;
}



.productShow .productTitle span{
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 900;
    width: 80%;
}

.productShow .productTitle a{
    display: inline-block;
    width: 20%;
    background-color: #f4f4f4;
    line-height: 32px;
    text-align: right;
    transform: translate(0, -43%);
    font-size: 17px;
    border-bottom-left-radius:16px;
    border-top-left-radius:16px;
}

.productShow .recommend{
    font-size: 0;
    padding-right: 15px;
}

.productShow .recommend a{
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: #9a9a9a;
}

.productShow .recommend .left{
background-color:#fff;
    width: 50%;
}

.productShow .recommend .right{
    background-color:#fff;
    width: 50%;
}

.productSend{
    margin: 15px 0;
    display: flex;
    line-height: 52px;
}
.productSend .title,
.productDetail .title
{
    margin-right: 25px;
    color: #b5b5b5;
    vertical-align: top;
    font-size: 16px;
}

.productSend .left{
    width: 80%;
}

.productSend .left .fenGe{
    margin: 0 5px;
    color: #b5b5b5;
}

.productSend .right{
    text-align: right;
    width: 20%;
    color: #b5b5b5;
}

.productDetail{
    font-size: 0;
    line-height: 38px;
    padding: 10px 15px 0 15px;
}

.productDetail .left,
.productDetail .right,
.productDetail .selectList{
    display: inline-block;
    font-size: 16px;
}

.productDetail .left{
    width: 95%;
}

.productDetail .right{
    text-align: right;
    color: #b5b5b5;
    width: 5%;
}

.productDetail .left a{
    color: #333;
}

.productDetail .selectList{
    display: flex;
    padding-left: 60px;
}

.productDetail .selectList div{
    display: inline-block;
    background-color: #f6f6f6;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    color: #9a9a9a;
    line-height: 25px;
}



.productDetail .selectList .total{
    max-width: 54%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productDetail .selectList .selectItem{
    max-width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}