.container {
    background-color: #f8f8f8;
    max-width: 600px;
    margin: 11% auto 0;
    transform: translate(0, 0);
    padding-bottom: 60px;
}

.topbar{
    padding: 5px 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #f2f2f2;
    left: 0;
    right: 0;
    max-width: 600px;
    margin: 0 auto;
    
}

.topbar .top{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.topbar .top i,
.topbar .top input
{
    margin-right: 15px;
}

.topbar .top i:last-child{
    margin-right: 0;
}

.icon-search{
    position: absolute;
    left: 38px;
}

.topbar .top input{
    flex-grow: 1;
    border-radius: 30px;
    overflow: hidden;
    border: 0;
    padding-left: 25px;
}

.menu{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 400;
    
}

.menu a{
    color: #000;
}
.menu .actived{
    color: #ec5613;
    border-bottom: 2px solid #ec5613;
}

.productShow,
.productSend,
.productDetail,
.productComment,
.aboutShop {
    background-color: #fff;
    padding: 0 15px;
}

.productShow {
    padding-right: 0;
}

.productImg ul {
    width: 5000px;
    position: relative;
}

.productImg ul li {
    float: left;
    max-width: 600px;
    max-height: 600px;
}

.productImg ul::after {
    content: '';
    display: block;
    clear: both;
}

.productImg .img-container {
    max-width: 600px;
    max-height: 600px;
    overflow: hidden;
}

.productImg .img-container img {
    width: 100%;
    height: 100%;
    display: block;
}

.productImg {
    position: relative;
    overflow: hidden;
    max-width: 600px;
    max-height: 600px;
}

.productImg .imgOrder {
    min-width: 54px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    right: 12px;
    bottom: 12px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    padding-bottom: 7px;
    font-size: 16px;
    padding: 0 5px;
}

.productShow .productPrice {
    font-size: 25px;
    color: #ec5613;
    line-height: 35px;
    font-weight: 500;
    padding-top: 10px;
}

.productShow .productPrice h1 span {
    font-size: 30px;
    font-weight: 400;
    vertical-align: sub;
}

.productShow .productTitle {
    display: flex;
    align-items: center;
}

.productShow .productTitle .titleContent {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 900;
    width: 80%;
    margin: 3px 0;
}

.productShow .productTitle a {
    display: inline-block;
    width: 20%;
    background-color: #f4f4f4;
    line-height: 32px;
    text-align: right;
    font-size: 17px;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}

.productShow .recommend {
    font-size: 0;
}

.productShow .recommend a {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: #9a9a9a;
}

.productShow .recommend .left {
    background-color: #fff;
    width: 50%;
}

.productShow .recommend .right {
    background-color: #fff;
    width: 50%;
    padding-right: 15px;
}

.productSend {
    margin: 15px 0;
    display: flex;
    line-height: 52px;
}

.productSend .title,
.productDetail .title {
    margin-right: 25px;
    color: #b5b5b5;
    vertical-align: top;
    font-size: 16px;
    display: inline-block;
    font-weight: normal;
}

.productSend .left {
    width: 80%;
}

.productSend .left div {
    display: inline-block;
    font-weight: normal;
}

.productSend .left .fenGe {
    margin: 0 5px;
    color: #b5b5b5;
}

.productSend .right {
    text-align: right;
    width: 20%;
    color: #b5b5b5;
}

.productDetail {
    font-size: 0;
    line-height: 38px;
    padding: 10px 15px 0 15px;
}

.productDetail .left,
.productDetail .right,
.productDetail .selectList {
    display: inline-block;
    font-size: 16px;
}

.productDetail .left {
    width: 95%;
}

.productDetail .right {
    text-align: right;
    color: #b5b5b5;
    width: 5%;
}

.productDetail .left a {
    color: #333;
}

.productDetail .selectList {
    display: flex;
    padding-left: 60px;
}

.productDetail .selectList div {
    display: inline-block;
    background-color: #f6f6f6;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    color: #9a9a9a;
    line-height: 25px;
}

.productDetail .selectList .total {
    max-width: 54%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productDetail .selectList .selectItem {
    max-width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.toTop{
    border-radius: 30px;
    color: #000;
    padding-top: 8px;
    height: 60px;
    width: 60px;
    position: fixed;
    right: 20px;
    bottom: 200px;
    line-height: 22px;
    background-color: rgba(255, 255, 255, 0.79);
}

.toTop i{
    padding-left: 22px;
}

.toTop div{
    text-align: center;
}