.parameterPage {
    display: none;
}

.servicePage {
    display: none;
}


.popPage {
    margin: 0 auto;
    height: 67%;
    max-width: 600px;
    background-color: #fff;
    z-index: 1000;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 1px solid #7b7c7dab;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px;
}

.popPage .pageTitle {
    text-align: center;
    color: #000;
    font-size: 18px;
    margin-bottom: 20px;
}

.popPage .items{
    padding: 10px;
    font-size: 0;
}

.parameterPage .items {
    border-bottom: 1px solid #f0f1f2;
    
}

.popPage .left,
.popPage .right {
    display: inline-block;
    font-size: 14px;
}


.popPage .left {
    vertical-align: top;
    color: #000;
}

.popPage .right {
    color: #656667;
}

.popPage .btn {
    position: absolute;
    height: 50px;
    line-height: 50px;
    width: 100%;
    bottom: 0px;
    margin: 0 auto;
    background-color: #ff6200;
    color: #fff;
}

.parameterPage .left {
    width: 33%;
}

.parameterPage .right {
    width: 67%;
}

.parameterPage  .btn{
    bottom: 10px;
    border-radius: 30px;
    width: 93%;

}

.servicePage .left{
    width: 10%;
    color: #f25300;
}

.servicePage .items .desc{
    font-size: 10px;
    margin-left: 10%;
}


.servicePage .btn{
    left: 0;

}